<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/">Signal Server GUI</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbars"
    aria-controls="navbars"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbars">
    <ul class="navbar-nav mr-auto">
      {% for item in ["antennas", "stations", "plots"] %}
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="{{item}}_dropdown"
          role="button"
          data-bs-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          >{{item.capitalize()}}</a
        >
        <div class="dropdown-menu" aria-labelledby="plotDropdown">
          <a class="dropdown-item" href="/{{item}}">List</a>
          <a class="dropdown-item" href="/{{item}}/new">New</a>
        </div>
      </li>
      {% endfor %} {% for item in ["config"] %}
      <li class="nav-item">
        <a class="nav-link" href="/{{item}}">{{item.capitalize()}}</a>
      </li>
      {% endfor %}
    </ul>
    <form
      class="navbar-nav flex-row ms-md-auto form-inline"
      method="get"
      action="/search"
    >
      <select id="type" name="type" class="form-select mr-sm-2">
        {% for item in ["all", "stations", "antennas", "plots"] %} {% if item ==
        search_type %}
        <option value="{{item}}" selected="selected">
          {{item.capitalize()}}
        </option>
        {% else %}
        <option value="{{item}}">{{item.capitalize()}}</option>
        {% endif %} {% endfor %}
      </select>
      <input
        class="form-control mr-sm-2"
        type="text"
        aria-label="Search"
        name="q"
        value="{{search}}"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
